<m-portlet [options]="{headLarge: false}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<span translate="EMPRESA.LIST.TITULO">Linha do tempo</span>
			</h3>
		</div>
	</ng-container>	
	<ng-container mPortletBody>
		<div class="row">
			<div class="col-xl-12">
				<div id="chartdiv" style="min-height: 300px;"></div>
			</div>
		</div>
		<div class="row" style="display: none;">
			<div class="col-xl-12">
				<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="data">
					<ng-container matColumnDef="data">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Data</mat-header-cell>
						<mat-cell *matCellDef="let model">{{model.data}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="categoria">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</mat-header-cell>
						<mat-cell *matCellDef="let model">{{model.categoria}}</mat-cell>
					</ng-container>
					<ng-container matColumnDef="percentual">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Percentual</mat-header-cell>
						<mat-cell *matCellDef="let model">{{model.percentual | number: '1.2-2' }}</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
				</mat-table>
			</div>
		</div>
	</ng-container>
</m-portlet>