<div class="row">
	<div class="col-xl-12">
		<m-log-dashboard-filtro></m-log-dashboard-filtro>
	</div>
</div>
<div class="row">
	<div class="col-xl-6">
		<m-log-dashboard-resumoMensagem></m-log-dashboard-resumoMensagem>
	</div>
	<div class="col-xl-6">
		<m-log-dashboard-resumoProcesso></m-log-dashboard-resumoProcesso>
	</div>
</div> 
<div class="row">
	<div class="col-xl-12">
		<m-log-dashboard-resumoDiario></m-log-dashboard-resumoDiario>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<m-logDashboard-list></m-logDashboard-list>
	</div>
</div>
