.mat-chip.mat-standard-chip .mat-chip-remove{
    border: 0px !important;
    background: #e0e0e0 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}

.chip-input{
    border: 0.5px solid #cccccc;
    padding: 4px;
    border-radius: 0.25rem;
    min-height: 42px;
}
