.mat-icon{
    margin-top: 5px;   
   }

.spanTotalizador{
    margin-right: 30px;
}

input[type=checkbox]{
    width: 20px!important;
    height: 20px!important;
}


table{
    width: 100%;
}

.mat-column-transportador {
    min-width: 15% !important;
 }
 