<m-portlet [options]="{headLarge: false}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<span translate="">Transportadores</span>
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<button mat-raised-button matTooltip="Baixar" color="primary" type="button"
			(click)="downloadTransportadorTotal()">
			<mat-icon>get_app</mat-icon>&nbsp;<span translate="">Baixar</span>
		</button>
	</ng-container>
	<ng-container mPortletBody>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
				matSortDirection="desc">
				<ng-container matColumnDef="transportador">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Transportador</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.transportador}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdEntrega">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Entregas</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdEntrega | number: '1.0-0' }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdCte">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Cte</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdCte | number: '1.0-0' }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdSucesso">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Sucesso</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdSucesso| number: '1.0-0'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdDivergencia">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Divergentes</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdDivergencia | number: '1.0-0'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdDivergenciaPeso">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Divergências de Peso </mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdDivergenciaPeso | number: '1.0-0'}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtdDivergenciaTarifa">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Divergências de Tarifa </mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.qtdDivergenciaTarifa | number: '1.0-0'}}</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
		</div>
	</ng-container>
</m-portlet>