<m-portlet [options]="{headLarge: false}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h2 class="m-portlet__head-text">
				<span translate="USUARIO.LIST.TITULO">Historico</span>
			</h2>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools>
		<div class="m-portlet__head-title">
			<button class="closeButton"  type="button" [mat-dialog-close]="data.animal" matTooltip="Close">
				<span style="float:left;">X</span> 
			</button>
		</div>
	</ng-container>
	<ng-container mPortletBody style="width: 900px;">
		<div class="mat-table__wrapper">
			<div *ngIf="viewLoading" class="m-splash-screen d-flex p-3" style="position: relative;">
				<span>Aguarde, buscando registros na base... </span>
				<mat-spinner diameter="40"></mat-spinner>
			</div>
			<div *ngIf="!viewLoading && dataSource && dataSource.data.length === 0" class="p-2">
				Não foi encontrado registros para sua pesquisa
			</div>
			<mat-table [hidden]="viewLoading || !dataSource || dataSource.data.length == 0" 
				class="lmat-elevation-z8" [dataSource]="dataSource" matSort 
				matSortActive="id" matSortDirection="desc">
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Codigo</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.id}}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="transportador">
					<mat-header-cell *matHeaderCellDef>Transportador</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.transportador?.nomeFantasia}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="descricao">
					<mat-header-cell *matHeaderCellDef>Descricao</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.descricao}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="cnpj">
					<mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
					<mat-cell *matCellDef="let model">{{ model.transportadorCnpj.cnpj }}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="usuarioCadastro">
					<mat-header-cell *matHeaderCellDef>Usuario Cadastro</mat-header-cell>
					<mat-cell *matCellDef="let model">
						<span class="text-elipsis" [matTooltip]="model.cadastroUsuario?.userName">
							{{ model.cadastroUsuario?.userName || '--' }}
						</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="dataCadastro">
					<mat-header-cell *matHeaderCellDef>Data Cadastro</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.dataCadastro  | date: 'dd/MM/yyyy HH:mm'}}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="actions">
					<mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
					<mat-cell *matCellDef="let model">
						<button mat-icon-button color="primary" matTooltip="Histórico" (click)="edit(model)">
							<mat-icon>visibility</mat-icon>
						</button>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength" (page)="pageChange($event)" showFirstLastButtons></mat-paginator>
		</div>
	</ng-container>
</m-portlet>
