.mat-column-actions, .mat-column-warning{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-reprocessamento{
    max-width: 5% !important;
}

.cdk-column-actions{
    min-width: 9% !important;
}

.mat-column-warning{
    min-width: 5% !important;
}