<h2 mat-dialog-title>
	<div>
		<span>{{getTitle()}}</span>
		<button class="closeButton" type="button" [mat-dialog-close]="data.animal" matTooltip="Close">
			X
		</button>
	</div>
</h2>

<mat-dialog-content>
	<mat-tab-group>
		<mat-tab label="Configuração">
			<form class="m-form" [formGroup]="modelForm" style="width: 900px;">
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Código:</label>
					<div class="col-1">
						<input id="codigo" name="codigo" class="form-control" disabled formControlName="codigo">
					</div>
					<label class="col-1 col-form-label" style="text-align:right;">Descricao:</label>
					<div class="col-6">
						<input id="descricao" name="descricao" class="form-control" formControlName="descricao"
							required>
						<div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)"
							class="alert alert-danger">
							<div *ngIf="descricao.errors.required">Descricao é obrigatório</div>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Transportador:</label>
					<div class="col-8">
						<ng-select [items]="transportadores" bindLabel="transportadorNome" bindValue="id"
							placeholder="Selecione um Transportador" (change)="getTransportadoresCnpj($event.id)"
							[(ngModel)]="model.transportadorId" formControlName="transportadorId" appendTo="body">
						</ng-select>
						<div *ngIf="transportadorId.invalid && (transportadorId.dirty || transportadorId.touched)"
							class="alert alert-danger">
							<div *ngIf="transportadorId.errors.required">Obrigatório selecionar um transportador</div>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Cnpj:</label>
					<div class="col-8">
						<ng-select *ngIf="model.id > 0" [items]="transportadoresCnpj" bindLabel="descricao"
							bindValue="id" placeholder="Selecione um CNPJ" [(ngModel)]="model.transportadorCnpjId"
							formControlName="transportadorCnpjId" appendTo="body">
						</ng-select>
						<ng-select *ngIf="model.id == 0" [items]="transportadoresCnpj" bindLabel="descricao"
							bindValue="id" placeholder="Selecione um CNPJ" [(ngModel)]="model.transportadorCnpjId"
							formControlName="transportadorCnpjId" appendTo="body" multiple="true">
						</ng-select>
						<div *ngIf="transportadorCnpjId.invalid && (transportadorCnpjId.dirty || transportadorCnpjId.touched)"
							class="alert alert-danger">
							<div *ngIf="transportadorCnpjId.errors.required">Obrigatório selecionar um CNPJ</div>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Cobrança:<mat-icon
							matTooltip="Caso não seja selecionado nenhum CNPJ, será atrelado o da filial."
							style="color: coral;">
							info
						</mat-icon></label>

					<div class="col-8">
						<ng-select [items]="transportadoresCnpj" bindLabel="descricao" bindValue="id"
							placeholder="Selecione um CNPJ" [(ngModel)]="model.transportadorCnpjCobrancaId"
							formControlName="transportadorCnpjCobrancaId" appendTo="body">
						</ng-select>

					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Ciclo Fatura:</label>
					<div class="col-8">
						<ng-select [items]="ciclos" bindLabel="descricao" bindValue="id"
							placeholder="Selecione um ciclo" [(ngModel)]="model.faturaCicloId"
							formControlName="faturaCicloId" appendTo="body">
						</ng-select>

						<div *ngIf="faturaCicloId.invalid && (faturaCicloId.dirty || faturaCicloId.touched)"
							class="alert alert-danger">
							<div *ngIf="faturaCicloId.errors.required">Obrigatório selecionar um Ciclo Fatura</div>
						</div>
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Vigência:</label>
					<div class="col-3">
						<input id="vigenciaInicial" name="vigenciaInicial" class="form-control"
							formControlName="vigenciaInicial" type="date"
							value="{{ model.vigenciaInicial | date:'yyyy-MM-dd' }}" required>
						<div *ngIf="vigenciaInicial.invalid && (vigenciaInicial.dirty || vigenciaInicial.touched)"
							class="alert alert-danger">
							<div *ngIf="vigenciaInicial.errors.required">Vigencia Inicial é obrigatório</div>
						</div>
					</div>
					<label class="col-2 col-form-label" style="text-align:center;">à</label>
					<div class="col-3">
						<input id="vigenciaFinal" name="vigenciaFinal" class="form-control"
							formControlName="vigenciaFinal" type="date"
							value="{{ model.vigenciaFinal | date:'yyyy-MM-dd' }}" required>
						<div *ngIf="vigenciaFinal.invalid && (vigenciaFinal.dirty || vigenciaFinal.touched)"
							class="alert alert-danger">
							<div *ngIf="vigenciaFinal.errors.required">Vigencia Final é obrigatório</div>
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">Micro Serviço:</label>
					<div class="col-8">
						<ng-select [items]="microServicos" bindLabel="alias" bindValue="id"
							placeholder="Selecione um Micro Serviço" [(ngModel)]="model.microServicoId"
							formControlName="microServicoId" appendTo="body">
						</ng-select>
						<div *ngIf="microServicoId.invalid && (microServicoId.dirty || microServicoId.touched)"
							class="alert alert-danger">
							<div *ngIf="microServicoId.errors.required">Micro Serviço é obrigatório</div>
						</div>
					</div>
				</div>
				<!-- <div class="form-group m-form__group row">
					<label class="col-3 col-form-label" style="text-align:right;">Qtd. Tentativas:</label>
					<div class="col-3">
						<input id="quantidadeTentativas" name="quantidadeTentativas" class="form-control"
							formControlName="quantidadeTentativas" type="number" min="0" step="1" required>
						<div *ngIf="quantidadeTentativas.invalid && (quantidadeTentativas.dirty || quantidadeTentativas.touched)"
							class="alert alert-danger">
							<div *ngIf="quantidadeTentativas.errors.required">Qtd. Tentativas é obrigatório</div>
							<div *ngIf="quantidadeTentativas.errors.pattern">Valor inválido</div>
						</div>
					</div>
					<label class="col-2 col-form-label" style="text-align:right;">
						Taxa TA (%):
						<mat-icon matTooltip="Taxa de Tentativa Adicional" style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-3">
						<input id="taxaTentativaAdicional" name="taxaTentativaAdicional" class="form-control"
							formControlName="taxaTentativaAdicional" type="number" min="0" max="100" step="1" required>
						<div *ngIf="taxaTentativaAdicional.invalid && (taxaTentativaAdicional.dirty || taxaTentativaAdicional.touched)"
							class="alert alert-danger">
							<div *ngIf="taxaTentativaAdicional.errors.required">Taxa TA é obrigatório</div>
						</div>
					</div>
				</div> -->
				<!--<div class="form-group m-form__group row">
			 		<label class="col-3 col-form-label" style="text-align:right;">
						Taxa RR (%):
						<mat-icon matTooltip="Taxa de Retorno ao Remetente" style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-3">
						<input id="taxaRetornoRemetente" name="taxaRetornoRemetente" class="form-control"
							formControlName="taxaRetornoRemetente" type="number" min="0" max="100" step="1" required>
						<div *ngIf="taxaRetornoRemetente.invalid && (taxaRetornoRemetente.dirty || taxaRetornoRemetente.touched)"
							class="alert alert-danger">
							<div *ngIf="taxaRetornoRemetente.errors.required">Taxa RR é obrigatório</div>
						</div>
					</div>
					
				</div> -->
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">
						Fatura aut.?:
						<mat-icon matTooltip="A geração de fatura deste transportador será automática."
							style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-1 align-self-center">
						<mat-slide-toggle class="mt-2" [(ngModel)]="model.faturaAutomatica"
							formControlName="faturaAutomatica">
						</mat-slide-toggle>
					</div>
					<label class="col-5 col-form-label" style="text-align:right;">
						Rec. peso CTE:
						<mat-icon matTooltip="Recota por Peso Transportador" style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-1 align-self-center">
						<mat-slide-toggle class="mt-2" [(ngModel)]="model.recotaPesoTransportador"
							formControlName="recotaPesoTransportador">
						</mat-slide-toggle>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-2 col-form-label" style="text-align:right;">
						Tolerância?:
						<mat-icon
							matTooltip="Uma tolerância de valores poderá ser configurada para avaliação de divergência da conciliação"
							style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-1 align-self-center">
						<mat-slide-toggle class="mt-2" [(ngModel)]="model.permiteTolerancia"
							(change)="permiteToleranciaChange($event)" formControlName="permiteTolerancia">
						</mat-slide-toggle>
					</div>
					<label class="col-5 col-form-label" style="text-align:right;">
						Conciliar somente entregas finalizadas?:
						<mat-icon
							matTooltip="Habilita leitura das entregas do Doccob para entregas finalizadas ou em aberto."
							style="color: coral;">
							info
						</mat-icon>
					</label>
					<div class="col-1 align-self-center">
						<mat-slide-toggle class="mt-2" [(ngModel)]="model.conciliaEntregaFinalizada"
							formControlName="conciliaEntregaFinalizada">
						</mat-slide-toggle>
					</div>
				</div>
				<div class="form-group m-form__group row" [hidden]="!model.permiteTolerancia">
					<div style="display: contents" [hidden]="!model.permiteTolerancia">
						<label class="col-2 col-form-label align-self-center" style="text-align:center;">Tipo Tolerância
							{{model.toleranciaTipoId == 1 ? "(%)" : "(R$)"}}:</label>
						<div class="col-2 align-self-center">
							<ng-select [items]="toleranciaTipos" bindLabel="descricao" bindValue="id" placeholder="Tipo"
								[(ngModel)]="model.toleranciaTipoId" formControlName="toleranciaTipoId" appendTo="body">
							</ng-select>
							<div *ngIf="toleranciaTipoId.invalid && (toleranciaTipoId.dirty || toleranciaTipoId.touched)"
								class="alert alert-danger">
								<div *ngIf="toleranciaTipoId.errors.required">Obrigatório selecionar um tipo</div>
							</div>
						</div>
					</div>
					<label class="col-1 col-form-label" style="text-align:right;">Min.:</label>
					<div class="col-2">
						<input id="toleranciaInferior" name="toleranciaInferior" class="form-control"
							formControlName="toleranciaInferior" type="number" min="0" step=".1" required
							[(ngModel)]="model.toleranciaInferior">
						<div *ngIf="toleranciaInferior.invalid && (toleranciaInferior.dirty || toleranciaInferior.touched)"
							class="alert alert-danger">
							<div *ngIf="toleranciaInferior.errors.required">Tolerância inferior é obrigatória</div>
						</div>
					</div>
					<label class="col-1 col-form-label" style="text-align:center;">Max.:</label>
					<div class="col-2">
						<input id="toleranciaSuperior" name="toleranciaSuperior" class="form-control"
							formControlName="toleranciaSuperior" type="number" min="0" step=".1" required
							[(ngModel)]="model.toleranciaSuperior">
						<div *ngIf="toleranciaSuperior.invalid && (toleranciaSuperior.dirty || toleranciaSuperior.touched)"
							class="alert alert-danger">
							<div *ngIf="toleranciaSuperior.errors.required">Tolerância superior é obrigatória</div>
						</div>
					</div>
				</div>
			</form>
		</mat-tab>
		<mat-tab *ngIf="model.transportadorId != null && model.transportadorId != 0" label="Regras">
			<m-regra-list [(value)]="model"></m-regra-list>
		</mat-tab>
		<mat-tab *ngIf="model.transportadorId != null && model.transportadorId != 0" label="Arquivos">
			<m-contratoTransportadorArquivoTipo-list [(value)]="model"></m-contratoTransportadorArquivoTipo-list>
		</mat-tab>
	</mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
	<button type="button" mat-raised-button color="danger" [mat-dialog-close]="data.animal" matTooltip="Cancel changes">
		Cancelar
	</button>
	<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading"
		[class.spinner]="viewLoading" matTooltip="Save changes">
		Salvar
	</button>
</mat-dialog-actions>