.mat-column-transportador, .mat-column-canal {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-id {
    min-width: 15% !important;
 }

 .mat-column-selecionar, .mat-column-diasSemAlteracao{
    max-width: 6% !important;
 }

 .mat-column-codigoEntrega{
    max-width: 13% !important;
 }

.mat-column-actions, .mat-column-notaserie, .mat-column-dataUltimaOcorrencia {
    min-width: 10% !important;
 }
 