.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-actions {
    min-width: 8% !important;
}

.cdk-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-transporteTipo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-transportadorNome {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-codigoContrato {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.cdk-column-codigoIntegracao {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 9% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.cdk-column-codigoCartao {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.cdk-column-vigenciaInicial {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.cdk-column-vigenciaFinal {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-producao {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.cdk-column-valido {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}