table{
    width: 100%;
}

.mat-column-entregaDevolucaoId {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-mensagem {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-xmlRetorno {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-entregaDevolucaoStatusAnteriorId {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .mat-column-entregaDevolucaoStatusAtualId {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 18% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  
