<m-portlet [options]="{headLarge: false}">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				<span translate="">Arquivos em Processamento</span>
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools></ng-container>
	<ng-container mPortletHeadTools>
		<div class="m-portlet__head-title">
			<button class="closeButton" type="button" [mat-dialog-close]="" matTooltip="Close">
				<span style="float:left;">X</span>
			</button>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtros">
		</mat-form-field>
		<div class="mat-table__wrapper">
			<mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id"
				matSortDirection="desc">
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.id}}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="nomeArquivo" class="col-lg-5 col-md-5 col-sm-5">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Arquivo </mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.nomeArquivo }}</mat-cell>
				</ng-container>
				<ng-container matColumnDef="retorno">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Arq. Alertas </mat-header-cell>
					<mat-cell *matCellDef="let model">
						<a mat-icon-button color="primary" matTooltip="Visualizar arquivo de validação"
							*ngIf="model.retorno !== null" href="{{model.retorno }}">
							<mat-icon>open_in_new</mat-icon>
						</a>&nbsp;
						<span mat-icon-button color="primary" matTooltip="Visualizar arquivo de validação"
							*ngIf="model.retorno === null">
							--
						</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="qtAdvertencia">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Advertencia </mat-header-cell>
					<mat-cell *matCellDef="let model">
						<span
							*ngIf="model.qtAdvertencia !== null && model.qtAdvertencia > 0">{{model.qtAdvertencia}}</span>
						<span *ngIf="model.qtAdvertencia === null || model.qtAdvertencia === 0">---</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="percentualAtualizacao">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Processamento </mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.percentualAtualizacao}} %</mat-cell>
				</ng-container>
				<ng-container matColumnDef="ultimaAtualizacao">
					<mat-header-cell *matHeaderCellDef mat-sort-header>Última Atualização</mat-header-cell>
					<mat-cell *matCellDef="let model">{{model.ultimaAtualizacao | date :'dd/MM/yyyy hh:mm' }}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="atualizar">
					<mat-header-cell *matHeaderCellDef style="cursor:pointer;">
						<button mat-icon-button matTooltip="Atualizar lista" (click)="load()">
							<mat-icon color="green">refresh</mat-icon>
						</button>
					</mat-header-cell>
					<mat-cell *matCellDef="let model"></mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
			</mat-table>
			<mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
		</div>
	</ng-container>
</m-portlet>