<!--begin:: Widgets/Authors Profit-->
<m-portlet>
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				Top Clientes no Mês
			</h3>
		</div>
	</ng-container>

	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<div class="m-widget4">
			<div class="m-widget4__item">
				<div class="m-widget4__img m-widget4__img--logo">
					<img src="assets/app/media/img/client-logos/logo5.png" alt="">
				</div>
				<div class="m-widget4__info">
					<span class="m-widget4__title">
						Cliente 1
					</span>
					<br>
					<span class="m-widget4__sub">
						
					</span>
				</div>
				<span class="m-widget4__ext">
					<span class="m-widget4__number m--font-success">+93,4%</span>
				</span>
			</div>
			<div class="m-widget4__item">
				<div class="m-widget4__img m-widget4__img--logo">
					<img src="assets/app/media/img/client-logos/logo4.png" alt="">
				</div>
				<div class="m-widget4__info">
					<span class="m-widget4__title">
						Cliente 2
					</span>
					<br>
					<span class="m-widget4__sub">
						
					</span>
				</div>
				<span class="m-widget4__ext">
					<span class="m-widget4__number m--font-success">+87,4%</span>
				</span>
			</div>
			<div class="m-widget4__item">
				<div class="m-widget4__img m-widget4__img--logo">
					<img src="assets/app/media/img/client-logos/logo3.png" alt="">
				</div>
				<div class="m-widget4__info">
					<span class="m-widget4__title">
						Cliente 3
					</span>
					<br>
					<span class="m-widget4__sub">
						
					</span>
				</div>
				<span class="m-widget4__ext">
					<span class="m-widget4__number m--font-success">+85,4%</span>
				</span>
			</div>
			<div class="m-widget4__item">
				<div class="m-widget4__img m-widget4__img--logo">
					<img src="assets/app/media/img/client-logos/logo2.png" alt="">
				</div>
				<div class="m-widget4__info">
					<span class="m-widget4__title">
						Cliente 4
					</span>
					<br>
					<span class="m-widget4__sub">
						
					</span>
				</div>
				<span class="m-widget4__ext">
					<span class="m-widget4__number m--font-success">+83,4%</span>
				</span>
			</div>
			<div class="m-widget4__item">
				<div class="m-widget4__img m-widget4__img--logo">
					<img src="assets/app/media/img/client-logos/logo1.png" alt="">
				</div>
				<div class="m-widget4__info">
					<span class="m-widget4__title">
						Cliente 5
					</span>
					<br>
					<span class="m-widget4__sub">
						
					</span>
				</div>
				<span class="m-widget4__ext">
					<span class="m-widget4__number m--font-success">+79,4%</span>
				</span>
			</div>
		</div>
	</ng-container>
</m-portlet>
<!--end:: Widgets/Authors Profit-->
